[Unit]
Description=Symfony Messenger - Consume async queue
After=network.target postgresql.service

[Service]
User={{ ansible_user }}
Group=www-data
# If app_root doesn't end in /current, we are likely in provisioning
# Deployment always uses /current
{% set project_dir = app_root if app_root.endswith('/current') else app_root ~ '/current' %}
WorkingDirectory={{ project_dir }}
ExecStart=/usr/bin/php {{ project_dir }}/bin/console messenger:consume async --time-limit=3600
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
